
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>charming</title>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css' />
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    @RenderBody()
    <div class="container">

        <h1 class="text-center">English, a little more charming!</h1>
        <div class="content">
            <div class="today">
                <h3>Today's sentence should be displayed here</h3>
            </div>
            <div class="letsgo">
                <button class="btn">Let's go Charming</button>
            </div>
            <div class="charm">
                <h3>Charming sentence should be displayed here</h3>
            </div>
            <div class="button">
                <button class="btn">One more</button>
            </div>
            </div>
        </div>
</body>
</html>
